### MacOS
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

### Eclipse ###
.metadata

### Eclipse Patch ###
# Eclipse Core
.project
.sts4-cache/
.factorypath
*/.classpath
*/target/*

### git
.*.swp
